<!-- login-box -->
<div class="login-box" id="LoginBox">
  <div class="login-logo">
    <a href="../index.html">Inciar Sesión</a>
  </div>
  <div class="login-box-body">
    <p class="login-box-msg">Loguéate para comenzar</p>

      <div class="form-group has-feedback">
        <input id="username" type="email" class="form-control" placeholder="Correo">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input id="password" type="password" class="form-control" placeholder="Contraseña">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox" id="rememberMe"> Recuérdame
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-6">
          <button id="btn-SignIn" class="btn btn-primary btn-block btn-flat">Entrar</button>
        </div>
        <!-- /.col -->
      </div>

    <a href="">Olvidé mi contraseña</a><br>
    <a id="goToRegister" class="text-center">Registrarme</a>

  </div>
</div>
<!-- /.login-box -->  
