<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header with-border">
        <h3 class="box-title">Buscar empleado por codigo de contrato/empleado</h3>
        </div>
        <div class="box-body">

          <div class="row">
              <!-- /.col -->
              <div class="col-sm-12">
                <div class="&emsp;&emsp;BuscarEmpleado">
            
                  <div class="ShearEmployyed-box-body">
            
                    <form action=" " method="post">
                      <div class="form-group has-feedback">
                        <label for="" >&emsp;Ingrese Codigo del empleado&emsp;</label>
                        <input type="text" class="ingresarCodigo" placeholder="Ingrese Codigo" width="80px">
                      </div>
                      <div class="col-xs-6">
                        <button type="button" class="btn btn-primary">BUSCAR</button>
                      </div>
            
            
                        <div class="muestra_codigo">
                            <br></br>
                            <h4>&emsp;Codigo de Empleado:</h4>
                            <h4>&emsp;Nombre de Empleado:</h4>
                            <h4>&emsp;Cargo de Empleado:</h4>
                            <h4>&emsp;Sueldo por cargo:</h4>
                            <h4>&emsp;Hora de entrada:</h4>
                            <h4
                            >&emsp;Hora de Salida:</h4>
                        </div>
            
                    </form>
                  </div>
              <!-- /.col -->
              </div>
                          
            
        </div>
    </div>
</div>
