<!-- register-box -->
<div class="register-box">
  <div class="register-logo">
    <a href="../index.html">Registrarse</a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Complete todos los campos para el registro</p>

    <form>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Nombre completo">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Apellido completo">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="text" maxlength="13" class="form-control" placeholder="Identidad sin espacios ni guines">
      </div>
      <!--div class="form-group has-feedback">
        <input type="radio" name="Genero" id="Genero" value="F" >Femenino</input> &nbsp; &nbsp;
          <input type="radio" name="Genero" id="Genero" value="M">Masculino</input>
      </div-->
      <div class="form-group has-feedback">
        <input type="date" class="form-control" placeholder="Fecha de Nacimiento">
      </div>
      <div class="form-group has-feedback">
        <input type="text" maxlength="8" class="form-control" placeholder="Numero de Telefono">
      </div>
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Correo">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Direccion">
      </div>
      <div class="form-group has-feedback">
      <div class="row">
        <div class="col-xs-12">
          <button ui-sref="InicioSesion" class="btn btn-primary btn-block btn-flat">Registrarme</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a ui-sref="InicioSesion" class="text-center">Ya estoy registrado. Ir a Login.</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->