<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header with-border">
        <h3 class="box-title">Registro de empleados</h3>
        </div>
        <div class="box-body">

          <div class="row">
              <!-- /.col -->
              <div class="col-md-9">
                <h2>&emsp;Listado de Empleados</h2>
                <div class="listadoEmpleados">
                <pre>  <table style="width :70%">
            
                    <tr>
                      <th>Codigo Empleado</th>
                      <th>Nombre Empleado</th>
                      <th>Cargo</th>
                      <th>sueldo</th>
                      <th>Hora Entrada</th>
                      <th>Hora Salida</th>
                      <th>Tiempo Perdido</th>
                    </tr>
                    <tr>
                      <td>01</td>
                      <td>Empleado 1</td>
                      <td>Cargo 1</td>
                      <td>9999</td>
                      <td>08:00 am</td>
                      <td>05:00 pm</td>
                      <td>102 min</td>
                    </tr>
                    <tr>
                      <td>02</td>
                      <td>Empleado 2</td>
                      <td>Cargo 2</td>
                      <td>9999</td>
                      <td>08:00 am</td>
                      <td>04:30 pm</td>
                      <td>10 min</td>
                    </tr>
                    <tr>
                      <td>03</td>
                      <td>Empleado 3</td>
                      <td>Cargo 3</td>
                      <td>9999</td>
                      <td>07:00 am</td>
                      <td>03:00 pm</td>
                      <td>0 min</td>
                    </tr>
            
                  </table> </pre>
            
                </div>
              </div>
            </div>
            
        </div>
    </div>
</div>

