<br><br>
<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Planilla del mes Actual</h3>
            <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" ng-model="buscarPlanilla" class="form-control pull-right" placeholder="Buscar">
                </div>
            </div>                  
        </div>
        <div class="box-body">

            <table class="table">
                <tr>
                    <th style="width: 10px">#Empleado</th>
                    <th>Nombre Empleado</th>
                    <th>Cargo</th>
                    <th>Cantidad Deducciones</th>
                    <th>Total Deducciones</th>
                    <th>Total Pago</th>                    
                </tr>
                <tr>
                <tr ng-repeat="p in historialPlanilla | filter:buscarPlanilla">
                    <td>{{p.codigoEmpleado}}</td>
                    <td>{{p.nombreEmpleado}}</td>
                    <td>{{p.cargo}}</td>
                    <td>{{p.cantidadDeducciones}}</td>
                    <td>{{p.totalDeducciones}}</td>
                    <td>{{p.totalPago}}</td>
                </tr>
                </tr>
            </table>
                
        </div>
    </div>
</div>