<div class="col-md-12">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Formulario para solicitud de permiso por dia</h3>
    </div>
    <div class="box-body">
      <div class="form-group">
        <label>Codigo empleado</label>
        <input type="text" class="form-control" id="codigoEmpleado" placeholder="codEmpleado">
      </div>                
      <div class="form-group">
        <label>Nombre Empleado solicitante</label>
        <input type="text" class="form-control" id="nombreEmpleado" placeholder="Nombre de Empleado">
      </div>
      <div class="form-group">
          <label >Solicitar permiso para dia</label>
          <input type="date" id="fechaSolicitada" style="width:180px">
      </div>
      <div class="form-group">
        <label>Tipo de permiso a solicitar</label>
        <select class="form-control" disabled>
          <option>Permiso por dia</option>
          <option>option 2</option>
          <option>option 3</option>
          <option>option 4</option>
          <option>option 5</option>
        </select>
      </div>
      <div class="form-group">
        <label>Describa el por qué de la solicitud</label>
        <br>
        <textarea class="form-control" id="descripcion" rows="3" placeholder="Rieguese en casaca..."></textarea>
      </div>

      <div class="box-footer">
        <button ng-show="mostrarBotonAdmin"  class="btn btn-primary btn-block btn-flat">Enviar solicitud</button>
        <div class="row">
          <div class="col-sm-6">
              <button ng-show="mostrarBotonEmpleado"  class="btn btn-success btn-block btn-flat">Aprobar Permiso</button>                      
          </div>
          <div class="col-sm-6">
              <button ng-show="mostrarBotonEmpleado"  class="btn btn-danger btn-block btn-flat">Denegar permiso</button>                                          
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box -->
</div>